{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
       integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'icons/logo.png' %}">
    <title>NotesWall</title>
</head>
<body>
    <nav class="navbar ">
        <h4 class="m-1"><img src="{% static 'icons/logo.png' %}" class="icon">NotesWall</h4>
    </nav>
    
    <div class="notes mt-10 " >
        <div class="mt-4"></div>
            <div class="note" style="background-color:#ccffcc; margin-left: 20% ; width:60% ; height:fit-content;">
                {{db_note.note_txt}}            
            </div>
    </div>
</body>
<!-- <script src="{% static 'app.js' %}"></script> -->
</html>